/* Compare.scss */
.compare-container {
  padding: 20px;
  max-width: 1000px;
  margin: 100px auto;
}

.compare-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.compare-product-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  text-align: center;
}

.compare-table-header {
  padding: 12px 15px;
  text-align: center;
  font-weight: bold;
  background-color: #b96b6b;
  color: #333;
}

.compare-product-name {
  font-weight: bold;
}

.compare-product-image {
  max-width: 100px;
  height: auto;
  border-radius: 5px;
}

.compare-product-image:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

.table-compare {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  .table-compare-header {
    background-color: #24282c;

    th {
      padding: 12px 15px;
      text-align: center;
      font-weight: bold;
      color: white;
    }

    .compare-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .compare-product-name {
        font-weight: bold;
        color: white;
      }
    }
  }

  .table-compare-body {
    tr:nth-child(even) {
      background-color: #F5F5F5;
    }

    tr:nth-child(odd) {
      background-color: #abd1ea;
    }

    td {
      padding: 10px 15px;
      border: 1px solid #2B3A42;

      img {
        max-width: 100px;
        height: auto;
        border-radius: 5px;
      }
    }
  }
}
