.add-update-user-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-update-form{
    width: 500px;
    padding: 50px;
    margin-top: 100px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.add-update-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.add-update-form label {
    display: block;
    margin-bottom: 10px;
}

.add-update-form input{
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
}

.add-update-form button {
    width: 100%;
    padding: 10px;
    margin: 15px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.error-add-update-form{
    color: red;
    font-size: 14px;
    margin-top: 5px;
    font-style: italic;
    font-weight: bold;
}

