.popup-Home-Dashboard-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 40px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.user-management-page .search-add-button .btn-add{
  margin-right: 20px;
}


.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 1000px;
  width: 873px;

  text-align: center;
  position: relative;
  color: black;
}

.close {
  position: relative;
  left: 17em;
  bottom: 10px;
  font-size: 24px;
  cursor: pointer;
  color: red;
  margin-right: 20px;

}

.popup-content .img-fluid {
  height: 60%;
  width: 60%;
  padding: auto;
  /* border: 1px solid #ccc; */
  border-radius: 50%;
  background-color: #9c8f8f;
}

.img-user-management{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: black;
}

.product-details {
  flex: 1;
  padding: 10px;
}

.product-name {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-info {
  list-style: none;
  padding: 0;
}

.product-info li {
  margin-bottom: 10px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}

.info-section {
  margin-bottom: 20px;
}

.detail-info {
  padding: 10px 40px 20px 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #9c8f8f;
  display: flex;
  flex-direction: column;
}

.info-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.sub-info {
  padding-left: 20px;
}

.info-item {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between; 
}

.info-item .name {
  color: green; /* Màu xanh cho phần "Name" */
}

.info-item .price {
  color: red; /* Màu đỏ cho phần "Price" */
}

.info-label {
  font-weight: bold;
  margin-right: 10px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  flex-grow: 1;
}

.accessories-section {
  padding: 10px 40px 20px 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #9c8f8f;
  display: flex;
  flex-direction: column;
}

.info-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.info-item {
  margin-bottom: 10px;
  position: relative;
}

.info-label {
  font-weight: bold;
  width: 100px;
  text-align: left;
  display: inline-block;
}

