.revenue-total-body{
    text-align: center;
}

.revenue-chart{
    margin-bottom: 20px;
}

.revenue-total-table{
    padding-top: 0px;
}

.revenue-pagination{
    margin-left: 200px;
    margin-bottom: 30px;
}

.table-list-revenue-head .list-revenue{
    font-weight: bold;
    text-align-last: center ;
    font-size: large;
}

.table-list-reveneu-head, .table-list-reveneu-body{
    text-align-last: center ;
}