.user-management-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: bisque !important;
  min-height: calc(100vh - 10vh); /* Trừ chiều cao của footer */
}

.search-add-btn {
  display: flex;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.user-management-header,
.user-management-td {
  border-bottom: 1px solid #ddd;
  text-align: center;
  padding: 10px;
  border: 1px solid #151219;
  width: auto;
}

.user-management-header {
  background-color: #f2f2f2;
}

.img-user-management {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.delete-btn {
  padding: 6px 10px;
  margin-right: 5px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-add {
  text-align: right;
  margin-bottom: 10px;
}

.add-staff-btn {
  color: orangered;
  background-color: transparent;
  border: 2px solid orangered;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s all linear;
  margin-top: 100px;
}

.add-staff-btn:hover {
  background-color: orangered;
  color: #fff;
}

.search-name {
  margin-bottom: 10px;
  margin-top: 90px;
  padding-right: 35rem;
  display: -webkit-inline-box;
}

.reset-button {
  margin-left: 10px !important;
}

.search-click {
  margin-left: 10px;
}

.user-management-page {
  margin: 0 auto;
  width: 100%;
}

.user-management-page,
.user-table {
  width: 100%;
  border-collapse: collapse;
  margin: auto;
  border: 2px solid #333;
}

.table-staff-container{
  margin: 10px 100px 10px 100px;
}

.user-management-td.smaller-text {
  font-size: 12px; /* Điều chỉnh kích thước font (tùy chỉnh) */
  white-space: nowrap;
}

.user-management-page,
.user-table .user-management-header,
.user-management-page,
.user-table .user-management-td {
  background-color: #f0f0f0;
  color: #333;
  text-align: center;
  padding: 10px;
  border: 1px solid #151219;
  width: auto;
}

.user-management-page,
.user-table .user-management-header {
  background-color: #333;
  color: #fff;
  font-weight: bold;
  width: auto;
}

.user-management-page,
.user-table tbody tr:nth-child(even) {
  background-color: #c12b2b;
}

.user-management-page,
.user-table tbody tr:nth-child(odd) {
  background-color: #170606;
}

.user-management-page,
.user-table tbody tr:hover {
  background-color: #4a167d;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-number {
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #151219;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 5px;
}

.user-management-header:first-child,
.user-management-td:first-child {
  width: 5%; /* Đặt chiều rộng cố định cho cột đầu tiên */
}

.user-management-header:nth-child(2),
.user-management-td:nth-child(2) {
  width: 5%; /* Đặt chiều rộng cố định cho cột thứ hai */
}

.user-management-header:nth-child(3),
.user-management-td:nth-child(3) {
  width: 10%; /* Đặt chiều rộng cố định cho cột thứ hai */
}

.user-management-header:nth-child(4),
.user-management-td:nth-child(4) {
  width: 10%; /* Đặt chiều rộng cố định cho cột thứ hai */
}

.user-management-header:nth-child(6),
.user-management-td:nth-child(6) {
  width: 12%; 
}

.user-management-header:nth-child(7),
.user-management-td:nth-child(7) {
  width: 10%; /* Đặt chiều rộng cố định cho cột thứ hai */
}

.user-management-header:nth-child(8),
.user-management-td:nth-child(8) {
  width: 8%; /* Đặt chiều rộng cố định cho cột thứ hai */
}

.user-management-header:nth-child(9),
.user-management-td:nth-child(9) {
  width: 13%; /* Đặt chiều rộng cố định cho cột thứ hai */
}

.user-management-td > button {
  margin: 0 5px;
}

.user-table td {
  text-align: center;
  padding: 10px;
}

.user-management-td:first-child,
.user-management-td:nth-child(2) {
  width: 10%;
}

.user-table tbody tr {
  line-height: 2; 
}