// signup.scss

div {
    margin-top: 100px;
    text-align: center;
  
    h2 {
      font-size: 24px;
      margin-bottom: 20px;
    }
  
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      div {
        margin: 10px 0;
  
        label {
          display: block;
          font-weight: bold;
        }
  
        input[type="email"],
        input[type="text"],
        input[type="password"],
        input[type="file"],
        select {
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
  
        select {
          appearance: none;
        }
  
        div {
          color: red;
          font-size: 14px;
        }
      }
  
      button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
  