/* Product.css */
.product-card {
    border: 1px solid #ddd; /* Add border styles here */
    transition: border-color 0.3s; /* Add smooth transition effect */
    padding: 20px 20px 20px 20px;
  }
  
  .product-image {
    width: 13rem;
    margin-bottom: 1rem;
    transition: 0.8s;
 
  }

  .product-card:hover{
    
      border: 2px solid #d5ab55;
      transition: 0.8s;
      box-shadow: 0 4px 8px 0 rgba(124, 120, 120, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  }

  .card-img-top:hover{
    transform: scale(1.08);
    transition: 1s;
}
  