/* slideshow.scss */

.container-news {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    transform: translate(0, 8%);
    background-color: rgb(253, 250, 250);
    .slideshow-news {
        padding: 10px 10px;

        .carousel-item {
            img {
                height: 100%;
                width: 50%;
                border-radius: 5px;
            }

            .S-content {
                h2 {
                    font-weight: bold;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }

                position: absolute;
                top: 75%;
                left: 30%;
                transform: translate(-50%, -50%);
                background: rgba(0, 0, 0, 0.5);
                color: rgb(247, 245, 245);
                padding: 10px;
            }
        }
    }
}